@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading {
        @apply font-vertigo text-5xl sm:text-7xl lg:text-8xl;
    }
    .subheading {
        @apply font-vertigo text-3xl sm:text-5xl;
    }
    .para {
        @apply text-sm text-gray;
    }
}

@font-face {
    font-family: vertigo;
    src: url(./fonts/VertigoRegular.woff);
}


